
body {  
    color: #333;
    background-color: #f0f0f0;
    overflow-x: hidden !important;
    font-family: 'Open Sans', sans-serif;  
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{ 
    text-decoration: none;
    color: #2f2f2f;

}
a:hover{
    color: #646464;
    text-decoration: none;
}
a:focus{
    outline: none;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{

    font-family: "Raleway",sans-serif;
}
h2{ 
    line-height: 23px;
}
img{
    border:none;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
}
.img-right{
    display: block;
    margin-left: auto;  
}
.img-left {
    display: block; 
    margin-right: auto;  
}
#imgbanner {
  background-image: url("../img/forma.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  height: 300px;
  margin-top: 77px;
  padding: 118px 0;
  text-align: center;
  width: 100%;
}
#imgbanner h2{
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn{
    border-radius: 0px;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn:hover{

}

}
.default-btn{
    background-color: #12a3df;
    color: #fff;
}
.default-btn:hover{
    background-color: #0a8ec4;
    color: #fff;
}
.btn-theme{
    background-color:#d083cf;
    color: #fff;
}
.btn-theme:hover{
    background-color:#ce39cc;
    color: #fff;
}
.transition{
    -webkit-transition: all 0.5s; /* Ch, Saf  3.2 */
    -moz-transition: all 0.5s; /* 4 < Fx <16 */
    -ms-transition: all 0.5s; /* IE 10 */
    -o-transition: all 0.5s; /* 10.5 < Op < 12.1 */
    transition: all 0.5s; /* IE 10, Ch 26+, Fx 16+, Op 12*/
}
.check{
    color: green;
}
.cross{
    color: red;
}
.single_sidebar .search{
    float: right;
    margin-top: -75px;
}
.search .btn-search{
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
    margin-left: 150px;
    margin-top: -27px;
    color: #06d0d8;
}
   

.form-control-feedback {
    position: absolute;
    top: -5px;
    right: 15px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
input[type=search]{
    border-radius: 0px;
    border: solid 1px #06d0d8;
}


/*--------------------*/
/* Header */
/*--------------------*/
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.navbar {
    margin-bottom: 0;
    z-index: 99999;
}
.navbar-default {
    border-color: #e7e7e7;
    /*padding: 10px 0px;*/
    background: #ffffff; /* Old browsers */
}
.navbar-brand{
    font-size: 25px;
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    margin-top: 10px;
}
.navbar-brand span{
    text-transform: uppercase;
}
.header_gradient{
    background: -moz-linear-gradient(bottom,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.navbar-default .navbar-nav > li{
    position: relative;
}
.navbar-default li.active:after {
    bottom: -42px;
    color: #fff;
    content: "ïƒ—";
    font-family: FontAwesome;
    font-size: 35px;
    left: 49%;
    margin-left: -8px;
    position: absolute;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
}
.navbar-default .navbar-nav > li > a {
    color: #5e5e5e;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
    /*border-radius: 4px;*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff; 
}
.navbar-nav > li > .dropdown-menu { 
    margin-top: 13px;
}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:hover{
    background-color: #fff;
}

.navbar-brand>img{
    width: 100%;
}
.navbar-brand>img:hover{
    opacity: 1;
}
.custom_nav {
    padding: 13px 0;
}
.custom_nav .dropdown-menu{
    padding:15px;
}
.dropdown-menu > li > a {
    color: #5e5e5e;  
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{
    border-radius: 4px; 
}
#howWorks{
  float: left;
  display: inline;
  width: 100%;
}
.howworks_area {
  display: inline;
  float: left;
  padding: 60px 0 105px;
  width: 100%;
}
.client_title{
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
    padding-bottom: 50px;
}
.client_title hr{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
}
.client_title > h2 {
  background: none repeat scroll 0 0 #f0f0f0;
  display: inline-block;
  margin-top: 7px;
  padding: 0 20px;
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-weight: bold;
}
.client_title > h2 span{
  font-weight: normal;
}

.team_title {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
}
.team_title > hr {
    border-top: 2px dashed #ccc;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 3px;
    width: 100%;
}
.team_title > h2 {
    background: none repeat scroll 0 0 #ffffff;
    color: #6e6e6e;
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 7px;
    padding: 0 80px;
    position: relative;
    z-index: 5;
}
.team_title > h2 span {
    font-weight: normal;
}
.team_title > p {
    color: #6e6e6e;
    font-size: 16px;
    padding: 0px 5%;
}

.single_sidebar > h2 {
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 15px;
}


#featuredBlog{

    display: inline;
    float: left;
    width: 100%;
}
.featuredBlog_area {
    background-color: #fff;
    display: inline;
    float: left;
    padding: 60px 0 25px;
    width: 100%;
    margin: 25px;
}
.featured_blog{
    float: left;
    display: inline;
    width: 100%;
    margin-top: 50px;
}
.single_featured_blog{
    float: left;
    display: inline;
    width: 100%;
}
.single_featured_blog > h2 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.single_featured_blog > img {

    max-width: 100%;
    max-height: 200px;
}
.page_left {
    width: 100% !important;
}
.page_left>h2{
    margin-bottom: 20px !important;
}

/*--------------------*/
/* Contact Page */
/*--------------------*/

#contact{
    float: left;
    display: inline;
    width: 100%; 
}
.contact_area {
    display: inline;
    float: left;
    width: 100%;
    padding: 40px 0px;
}
.contact_left {
    display: inline;
    float: left;
    margin-top: 40px;
    width: 100%;
}
.contact_right {
    display: inline;
    float: left;
    margin-top: 40px;
    width: 100%;
    padding-left: 70px;
}
.contact_right>img{
    margin-bottom: 25px;
}
.contact_right address{
    margin-top: 10px;
    font-size: 15px;
    color: #6e6e6e;
}
.contact_right p{
    font-size: 15px;
}
.contact_right address>p{
    margin-bottom: 0px;
    color: #6e6e6e;
}
.contact_map{
    float: left;
    display: inline;
    width: 100%;  
    background-color: #f0f0f0;
}
#map_canvas{
    width: 100%;
    float: left;
    display: inline;
    height: 450px;
}
.wpcf7-text, .wpcf7-email, .wpcf7-select {
    height: 50px;
    margin-bottom: 15px;
    width: 100%;
    color: #6e6e6e;
    font-size: 18px;
}
.imgedit_contact input::-webkit-input-placeholder { 
    color: #cccccc;
    font-size: 18px;
}

.imgedit_contact input:-moz-placeholder { /* Firefox 18- */
    color: #cccccc;
    font-size: 18px;  
}

.imgedit_contact input::-moz-placeholder {  /* Firefox 19+ */
    color: #cccccc;
    font-size: 18px;  
}

.imgedit_contact input:-ms-input-placeholder {  
    color: #cccccc;
    font-size: 18px;  
}
.imgedit_contactinfo{
    float: left;
    display: inline;
    width: 100%;
    margin-top: 70px;
}
.imgedit_contactinfo p {
    color: #fff;
    font-size: 38px;
    font-weight: normal;
    margin-top: 20px;
}
.bouton {
    border: medium none;
    color: #ffffff;
    display: block;
    font-size: 15px;
    height: 35px;
    line-height: 33px;
    width: 100px;
    -webkit-transition: all 0.5s;
    -mz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.bouton {
    background-color: #06d0d8;
}
.bouton:hover{
    background-color: #fff; 
    color:#06d0d8;
    border : 1px solid #06d0d8;
}
.term_cond_info {
    color: #fff;
    float: left;
    font-size: 17px;
    margin-top: 38px;
    text-align: left;
    width: 100%;
}


/*--------------------*/
/* Footer */
/*--------------------*/

#footer {
    background-color: #333333;
    display: inline;
    float: left;
    width: 100%;
    padding: 25px 0px;
}

.footer_bottom {
    display: inline;
    float: left;
    width: 100%;
    margin-top: 35px;
}
.copyright{
    float: left;
    display: block;
    width: 50%;
    color: #fff;
}
.copyright p{
    color: #fff;
}
.developer{
    float: right;
    display: block;
    width: 50%;
    color: #fff;
    text-align: right;
}
.developer a{
    color: #ccc;
}

/*--------------------*/
/* Responsive Style */
/*--------------------*/



@media(max-width:1199px ){
    .price_nav>li {margin-right: 10px;}
    .testimon_nav li {margin-left: 32px;}
    .howworks_slider {padding-left: 0;}
    .slider_area {width: 100%;}
    .service_nav li {margin-left: 12px;min-height: 522px;padding: 0 10px;}
    .archiveblog_right {width: 70%;}
    .page_left {width: 100%;}
}

@media(max-width:991px ){
    .navbar-default .navbar-nav > li > a {font-size: 12px; padding: 10px;}
    .dropdown-menu > li > a{font-size: 12px;padding: 10px;}
    .navbar-brand {height: auto;margin-top: 9px;width: 215px;}
    .navbar-brand>img{height: 100%;}
    #sliderSection{margin-top: 67px;}
    .price_nav>li {margin-right: 9px;}
    .price_img {width: 85%;}
    .price_nav li > h3 {font-size: 25px;}
    .price_nav li > p {font-size: 16px;}
    .get_button {font-size: 12px;padding: 10px 12px;}
    .price_badge {font-size: 13px;height: 34px;padding-right: 27px;right: -50px;top: 22px;}
    .testimon_nav li {width: 29%;}
    .service_nav li{width: 31%;}
    .service_nav li > h2 {font-size: 16px;}
    .single_footer_top > h2 {font-size: 22px;}
    .form_container {padding: 20px 100px;}
    #imgbanner {margin-top: 67px;padding: 100px 0;width: 100%;}
    #imgbanner h2 {line-height: 72px;font-size: 55px;}  
    .archiveblog_right > h2 {font-size: 20px;}
    #banner {margin-top: 67px;}
    .slider_caption > h2 {font-size: 37px;}
    .social_nav li a {margin-right: 5px;}
    .pfeatured_nav li {font-size: 13px;padding: 8px 0;}
    .page_left {width: 100%;}

}

@media(max-width:767px ){
    .navbar-default li.active:after {display: none;}
    .navbar-nav > li > .dropdown-menu { margin-top: 5px;}
    .navbar-toggle {margin-top: 13px;}
    .price_nav>li {width: 100%;margin-bottom: 25px;}
    .testimon_nav {margin-left: 0px;}
    .testimon_nav li {margin-bottom: 100px;width: 100%;margin-left: 0px;}
    .client_img {left: 42%;}
    .service_nav li {width: 100%;min-height: auto;margin-bottom: 15px;}
    .form_container {padding: 20px 50px;}
    .client_title > h2 {line-height: 35px;}
    #imgbanner h2 {font-size: 40px;line-height: 40px;}
    #imgbanner{height: 250px;margin-top: 61px;}
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        border-radius: 0px;  
    }
    .navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
        border-radius: 0px;
    }
    .dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{
        border-radius: 0px;
    }
    .imgeditcontact_area > h2 {font-size: 25px;line-height: 40px;}
    .imgedit_panel .media-left>img{max-width: 60%;margin-bottom: 15px;}
    .imgedit_panel .media-body{float: left;}
    .archiveblog_right {float: left;margin-left: 10px;width: 70%;}
    .post_navigation {margin-bottom: 30px;}
    #sliderSection {margin-top: 61px;}
    #banner {margin-top: 61px;}
    .single_featured_blog {margin-bottom: 30px;}
    .social_nav li a {margin-right: 8px;}
    .pfeatured_nav li {font-size: 15px;padding: 10px 0;}
    .page_left {width: 100%;}
/*
    .single_sidebar .search{
        margin-top: 0px;
        padding-bottom: 5px;
    }
*/



}
@media(max-width:640px){
    .slider_caption {top: 0;}
    .slider_caption > h2 { font-size: 25px;line-height: 30px;margin-bottom: 10px;}
    .slider_btn {margin-top: 10px;}
} 
@media(max-width:480px ){	
    .client_title hr {display: none;}
    .client_img {left: 39%;}
    .copyright {width: 100%;text-align: center;margin-bottom: 20px;}
    .footer_social {width: 100%;}
    .social_nav {text-align: center;}
    .service_title > hr {display: none;}
    .service_title > h2 {font-size: 30px;padding: 0px;}
    .service_title > p {font-size: 18px;}
    .form_container {padding: 20px 0px;}
    #imgbanner h2 {font-size: 30px;line-height: 35px;}
    #imgbanner {height: 200px;padding: 70px 0px;}
    .contact_right{padding-left: 0px;}
    .archiveblog_left {width: 100%;}
    .archiveblog_right {margin-left: 0px;width: 100%;}
    .previous_nav{padding: 10px;}
    .next_nav{padding: 10px;}
    .slider_caption {padding: 0 2%;}
    .slider_caption > p {font-size: 14px;line-height: 18px;}
    .slider_btn {font-size: 14px;padding: 8px 13px;}
    .team_title > h2 { font-size: 25px;padding: 0 25px;}
    #specialQuote p {font-size: 25px;line-height: 35px;}
    .social_nav {text-align: left;}
    .developer {text-align: center;width: 100%;}
    .footer_bottom {margin-top: 0px;}
    .client_title > h2 {line-height: 30px;font-size: 25px;}

}
@media(max-width:360px ){
    .client_title > h2 {font-size: 20px;}
    .client_img {left: 35%;}
    #imgbanner h2 {font-size: 22px;line-height: 35px;}
    .support_btn {margin-top: 30px;}
    .expand_icon {height: 36px;position: absolute;right: 0;top: 1px;}
    .imgedit_heading .panel-title{ position: relative;}
    .imgedit_heading .panel-title > a {font-weight: normal;font-size: 12px;}
    .archiveblog_right > h2 {font-size: 17px;line-height: 25px;}
    .slider_caption {top: 5%;}
    .slick-initialized .slick-slide {text-align: center;}
    .slick-slide img {display: inline-block;}
}
@media(max-width:320px ){
    .client_title > h2 {font-size: 18px;}
    .client_img {left: 33%;}


}
